{
  "presets": [
    [ "env", {
      "modules": false
    }],
    "react",
    "stage-0"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "stage-0"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }

}